@use '../../../styles/mixins' as *;

.show-list-container {
    @include flexbox(column, center);
    padding: 1.5rem 0;
    gap: 2rem;
}

.show-list-message {
    color: var(--text-color);
}

.show-list-recipe {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    gap: 1rem;
}

.show-list-button {
    font-size: 1rem;
}

.show-list-title {
    cursor: pointer;
    border: var(--text-color) 0.15rem solid;
}

.show-list-title:hover {
    background-color: var(--text-color);
    color: var(--pri-bg-color);
    border: var(--text-color) 0.15rem solid;
}

.edit-name-button {
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-left: 0.3rem;
}

.show-list-error {
    color: rgb(213, 82, 26);
}