.base-button {
  font-size: 0.7rem;
  color: var(--text-color);
  background-color: var(--accent-pri-color);
  border: var(--text-color) solid 0.1rem;
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
  cursor: pointer;
}

.base-button:hover {
  background-color: var(--text-color);
  color: var(--pri-bg-color);
}