@use '../../styles/mixins' as *;

// keep recipe cards aligned in a row with spacing between
.recipe-list {
    @include flexbox(row, center, center);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}