@use '../../styles/mixins' as *;

.recipe-detail-container {
    @include flexbox(column, center, center);
    padding: 2rem;
    gap: 1rem;
}

.upper-detail-container {
    width: 21rem;
    @include flexbox(column, center, center);
    gap: 0.5rem;
}

.recipe-details-title {
    font-size: 1.3rem;
    color: var(--text-color);
}

.recipe-details-image {
    width: 20rem;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.details-types-container {
    @include flexbox(column, center, center);
    gap: 0.3rem;
}

.details-types-title {
    font-size: 1.5rem;
    color: var(--text-color);
}

.detail-type-container {
    @include flexbox(row, center);
    gap: 0.2rem;
    color: var(--text-color);
}

.lower-detail-container {
    width: 21rem;
    @include flexbox(column, center, center);
    gap: 1rem;
}

.servings-time-container {
    @include flexbox(column, center, center);
    gap: 0.3rem;
}

.detail-ingredients-container {
    @include flexbox(column, center, center);
    gap: 0.3rem;
    color: var(--text-color);
}

.recipe-details-ingredients {
    background-color: var(--text-color);
    color: var(--accent-pri-color);
    list-style-type: none;
    border-radius: 0.3rem;
}

.details-ingredient {
    padding: 0.1rem 0.2rem;
    border-bottom: 0.1rem solid var(--pri-bg-color);
}

.detail-instructions-container {
    @include flexbox(column, center, center);
    gap: 0.3rem;
    color: var(--text-color);
}

.recipe-details-button {
    font-size: 1.3rem;
    margin-top: 3rem
}