@use '../../styles/mixins' as *;

// keeps footer at bottom and text centered
#footer {
    @include flexbox(row, stretch, center);
    background-color: var(--sec-bg-color);
    margin-top: auto;
}

// footer text change size when device size change
#footer-copyright {
    padding: 0.7rem;
    color: var(--text-color);
    font-size: 0.5rem;
}