@use '../../../styles/mixins' as *;

.userlist-container {
    @include flexbox(column, center, center);
    gap: 1rem;
    margin-top: 2rem;
}

.userlist-title {
    font-size: 1rem;
}

.userlist-text {
    color: var(--text-color);
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

.userlist-listname-container {
    @include flexbox(column, center, center);
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.userlist-listname {
    cursor: pointer;
    @include flexbox(row, flex-end);
    gap: 0.3rem;
    color: var(--text-color);
    background-color: var(--accent-pri-color);
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    border: var(--text-color) 0.1rem solid;
}

.userlist-listname:hover {
    background-color: var(--text-color);
    color: var(--pri-bg-color);
}

.userlist-message {
    display: none;
}

.userlist-icon {
    position: relative;
    top: 0.1rem;
}

.userlist-create-button {
    margin-bottom: 2.5rem;
    font-size: 1rem;
}