// global css variables and standard font-family
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --pri-bg-color: #F2E6D8;
  --sec-bg-color: #FFF8E7;
  --text-color: #5B4636;
  --accent-pri-color: #D6C6B8;
  --accent-sec-color: #A9746E;
}

// praxis for all html elements
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// for media querries
html {
  font-size: 16px;
}

// for all main div containers
.index-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1rem;
}

// for all title headers in main container
.index-main-title {
  padding: 0.3rem 1.1rem 0.5rem;
  border-radius: 1.5rem;
  background-color: var(--accent-pri-color);
  font-size: 1.3rem;
  color: var(--text-color);
}

// mobile
@media (max-width: 768px) {
  #search-container-desktop {
    display: none !important;
  }
  #header-buttons-container {
    display: none !important;
  }
}

// tablet
@media (min-width: 768px) and (max-width: 1280px) {
  html {
    font-size: 22px;
  }
  #search-container-desktop {
    display: none !important;
  }
  #header-buttons-container {
    display: none !important;
  }
}

// desktop
@media (min-width: 1280px) and (max-width: 1920px) {
  html {
    font-size: 30px;
  }
  #search-container {
    display: none !important;
  }
  #search-container-desktop {
    display: flex !important;
  }
  #dropdown-container {
    display: none !important;
  }
  #header-buttons-container {
    display: flex !important;
  }
}

// TV
@media (min-width: 1920px) {
  html {
    font-size: 40px;
  }
  #search-container {
    display: none !important;
  }
  #dropdown-container {
    display: none !important;
  }
}